---
import { translations } from '../i18n/translations';

interface Props {
  title: string;
  lang: 'es' | 'en';
}

const { title, lang } = Astro.props;
const t = translations[lang];
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={t.meta.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
